*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #ffa6bf;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #323232;
}

body {
  background-color: #323232;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 10px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.main_flex {
  display: flex;
  justify-content: space-between;
}

content {
  margin-left: 200px;
}

header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  width: 878px;

  color: #cccccc;
}

a {
  cursor: pointer;
  color: #cccccc;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

span {
  color: #ffa6bf;
}

h1 {
  margin-top: 150px;
  width: 1100px;

  font-size: 5.05em;
  white-space: nowrap;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main_line {
  margin: 50px auto 0;
  width: 600px;

  border: 2px solid #cccccc;
}

.under_line_text {
  width: 58px;

  margin: 80px auto 0;
}

.main_block {
  display: flex;
  flex-direction: column;

  width: 900px;
  height: 650px;
  margin: 80px auto 40px;

  /* filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25)); */
  background-color: #323232;
  filter: drop-shadow(4px 6px 4px rgba(255, 166, 191, 0.25));
  border-radius: 5px;
  color: #ffffff;
}

.main_block_commands {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

#main_block_reaction {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  background: url(/image/reaction.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

#main_block_fun {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  background: url(/image/fun.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

#main_block_information {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  background: url(/image/information.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

#main_block_moderation {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  background: url(/image/moderation.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

#main_block_utility {
  width: 1350px;
  height: 730px;
  margin: 80px auto 40px;

  background: url(/image/utility.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1350px;
  margin: 80px auto 0;
}

.label_block {
  margin: 15px auto 0;
}

.text_block {
  margin: 30px 50px 0;
}

.main_font {
  font-size: 2.8em;
}

.small_main_font {
  font-size: 1.8em;
}

.main_let_spc {
  letter-spacing: 0.03em;
}

.center_text {
  margin-top: 60px;
  width: 618px;
}

.button {
  display: flex;

  margin-top: 60px;
  width: 300px;
  height: 70px;

  border-radius: 3px;
  color: #ffffff;
  background-color: #ffa6bf;
  filter: drop-shadow(4px 6px 4px rgba(255, 166, 191, 0.25));
}

.button_primary {
  display: inline-block;
  margin: auto;
  align-self: center;
  vertical-align: middle;
}

.lala_sit {
  margin-left: -210px;
  width: 756px;
  height: 1010px;

  background: url(/image/lala_mb.png);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));

  z-index: 3;
}

.lala_sit_commands {
  margin-left: -210px;
  width: 756px;
  height: 1010px;

  background: url(/image/lala_mb.png);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));

  z-index: 3;
}

.label_commands {
  margin-top: 35px;
  width: 1100px;
}

.commands_gif {
  margin-top: 35px;
  width: 1100px;
  height: 798px;

  border-radius: 5px;
  background: url(/image/lala-commands.gif);
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.25));
}

.tablinks {
  display: block;

  margin-top: 20px;

  color: #ffffff;
}

.tabcontent {
  display: none;
}

.menu-list a {
  display: block;

  border-radius: 3px;
}

.menu-list a.is-active {
  color: #ffa6bf;
  letter-spacing: 0.03em;
}

.button_1850 {
  display: none;
}

@media screen and (max-width: 1850px) {
  header {
    margin: 30px auto 0;
    width: 1024px;
  }

  .lala_sit {
    display: none;
  }

  .lala_sit_commands {
    display: none;
  }

  content {
    margin-left: 0px;
  }

  .main_flex {
    display: block;
    width: 1024px;
    margin: 0 auto 0;
  }

  h1 {
    white-space: pre-wrap;
    margin: 150px auto 0px;
    width: 1024px;
  }

  .center_text {
    width: 510px;
  }

  .main_1850 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    /* background-color: #cccccc; */
  }

  .commands_gif {
    margin: 35px auto 0;
    width: 1024px;
    height: 798px;
  }

  .menu-list {
    width: 1024px;
    margin: 60px auto 0;
  }

  #main_block_reaction {
    width: 1024px;
    height: 798px;
  }

  #main_block_fun {
    width: 1100px;
    height: 798px;
  }

  #main_block_information {
    width: 1100px;
    height: 798px;
  }

  #main_block_moderation {
    width: 1100px;
    height: 798px;
  }

  #main_block_utility {
    width: 1100px;
    height: 798px;
  }

  .lala_sit_1850 {
    /* float: right; */
    width: 400px;
    height: 530px;
    background: url(/image/lala_1850.png);
    background-repeat: no-repeat;
  }

  .button_primary_1850 {
    display: inline-block;
    margin: auto;
    align-self: center;
    vertical-align: middle;
  }

  .button_1850 {
    display: flex;

    margin-top: 60px;
    width: 300px;
    height: 70px;

    border-radius: 3px;
    color: #ffffff;
    background-color: #ffa6bf;
    filter: drop-shadow(4px 6px 4px rgba(255, 166, 191, 0.25));
  }

  .button {
    display: none;
  }

  .button_primary {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  header {
    margin-top: 30px;
    width: 530px;
  }

  .label_commands {
    width: 143px;
    margin: 30px auto 0;
  }

  .under_line_center {
    width: 530px;
  }

  .lala_sit {
    display: none;
  }

  .lala_sit_1850 {
    display: none;
  }

  .main_flex {
    display: block;
    width: 530px;
    margin: 0 auto 0;
  }

  h1 {
    white-space: pre-wrap;
    margin: 150px auto 0px;
    width: 530px;
    /* width: 1024px; */
  }

  .center_text {
    /* width: 510px; */
    margin: 30px auto 0;
    width: 530px;
  }

  .main_1850 {
    width: 530px;
    margin: 0px;
    padding: 0px;
  }

  .lala_sit_1850 {
    display: none;
  }

  .button_1850 {
    display: flex;

    width: 300px;
    height: 70px;

    border-radius: 3px;
    color: #ffffff;
    background-color: #ffa6bf;
    filter: drop-shadow(4px 6px 4px rgba(255, 166, 191, 0.25));
  }

  .main_font {
    font-size: 1.8em;
  }

  .main_block {
    width: 530px;
    height: 100%;
    padding-bottom: 15px;
  }

  .main_line {
    width: 530px;
    margin: 40px auto 0;
  }

  a.button_1850 {
    margin: 40px auto 0;
  }

  .commands_gif {
    margin: 35px auto 0;
    width: 530px;
    height: 798px;
  }

  .menu-list {
    width: 530px;
    margin: 40px auto 0;
  }

  #main_block_reaction {
    width: 530px;
    height: 798px;
  }

  #main_block_fun {
    width: 530px;
    height: 798px;
  }

  #main_block_information {
    width: 530px;
    height: 798px;
  }

  #main_block_moderation {
    width: 530px;
    height: 798px;
  }

  #main_block_utility {
    width: 530px;
    height: 798px;
  }

  .main_block_commands {
    width: 530px;
    height: 730px;
    margin: 40px auto 40px;
  }
}
